.main-navbar {
    height: 5rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.logo-image {
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
}

.logo-text {
    color: white;
    margin-left: 15px;
    font-size: larger;
}