.main-navbar {
    height: 5rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.logo-text {
    justify-content: center;
    font-family: Ubuntu;
    color: white;
    margin-left: 3rem;
    font-size: larger;
    font-weight: 600;
}

.logo-image {
    position: relative;
    max-width: 100%;
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
}